# Walmart Sales in Stormy Weather

### Overview 

Walmart operates 11,450 stores in 27 countries, managing inventory across varying climates and cultures. Extreme weather events, like hurricanes, blizzards, and floods, can have a huge impact on sales at the store and product level. 

In their second Kaggle recruiting competition, Walmart challenges participants to accurately predict the sales of 111 potentially weather-sensitive products (like umbrellas, bread, and milk) around the time of major weather events at 45 of their retail locations. 

Intuitively, we may expect an uptick in the sales of umbrellas before a big thunderstorm, but it's difficult for replenishment managers to correctly predict the level of inventory needed to avoid being out-of-stock or overstock during and after that storm. Walmart relies on a variety of vendor tools to predict sales around extreme weather events, but it's an ad-hoc and time-consuming process that lacks a systematic measure of effectiveness. 

Helping Walmart better predict sales of weather-sensitive products will keep valued customers out of the rain. It could also earn you a position at one of the most data-driven retailers in the world! 

Please note: You must compete as an individual in recruiting competitions. You may only use the data provided to make your predictions.

### Data Descriptoin

You have been provided with sales data for 111 products whose sales may be affected by the weather (such as milk, bread, umbrellas, etc.). These 111 products are sold in stores at 45 different Walmart locations. Some of the products may be a similar item (such as milk) but have a different id in different stores/regions/suppliers. The 45 locations are covered by 20 weather stations (i.e. some of the stores are nearby and share a weather station).

The competition task is to predict the amount of each product sold around the time of major weather events. For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed. You are asked to predict the units sold for a window of Â±3 days surrounding each storm.

The following graphic shows the layout of the test windows. The green dots are the training set days, the red dots are the test set days, and the event=True are the days with storms. Note that this plot is for the 20 weather stations. All days prior to 2013-04-01 are given out as training data.

You are provided with the full observed weather covering the entire data set. You do not need to forecast weather in addition to sales (it's as though you have a perfect weather forecast at your disposal).

You will not be provided with more information about the products, store locations, or other details.
Because the storms occur at variable times and in variable locations, use the test set file (or sample submission) as your guide to know which days and stores you must forecast.
The sales data does not capture the difference between the stock and the demand. In other words, sales number 0 doesn't necessarily mean there was no demand for this product; it may mean it was in stock but none were sold, or it could mean that the product was out of stock, or discontinued and not available. 


#### Field descriptions

date - the day of sales or weather  
store_nbr - an id representing one of the 45 stores  
station_nbr - an id representing one of 20 weather stations  
item_nbr - an id representing one of the 111 products  
units - the quantity sold of an item on a given day  
id - a triplet representing a store_nbr, item_nbr, and date. Form the id by concatenating these (in that order) with an underscore. E.g. "2_1_2013-04-01" represents store 2, item 1, sold on 2013-04-01.


#### File descriptions

key.csv - the relational mapping between stores and the weather stations that cover them  
sampleSubmission.csv - file that gives the prediction format  
train.csv - sales data for all stores & dates in the training set  
test.csv - stores & dates for forecasting (missing 'units', which you must predict)  NOTE: This file has been   encrypted. To get the password, please fill out Walmart's Recruiting Survey  
weather.csv - a file containing the NOAA weather information for each station and day  
noaa_weather_qclcd_documentation.pdf - a guide to understand the data provided in the weather.csv file

## Weather.csv

In [9]:
weather = pd.read_csv("weather.csv")
print(weather.shape)
weather.head()

(20517, 20)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2012-01-01,52,31,42,M,36,40,23,0,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
1,2,2012-01-01,48,33,41,16,37,39,24,0,0716,1626,RA,0.0,0.07,28.82,29.91,9.1,23,11.3
2,3,2012-01-01,55,34,45,9,24,36,20,0,0735,1720,,0.0,0.00,29.77,30.47,9.9,31,10.0
3,4,2012-01-01,63,47,55,4,28,43,10,0,0728,1742,,0.0,0.00,29.79,30.48,8.0,35,8.2
4,6,2012-01-01,63,34,49,0,31,43,16,0,0727,1742,,0.0,0.00,29.95,30.47,14.0,36,13.8

- `ì¨ëë íì¨ë¡ íê¸° ëì´ ìë¤.`

  **Terminology**
    - date : ë ì§
    - tmax : ìµë ì¨ë
    - tmin : ìµì  ì¨ë
    - depart : `departure from normal`
    - dewpoint : íê·  ì´ì¬ì 
    - wetbulb : `íê·  ìµë?`
    - heat : `heating?`
    - cool : `cooling?`
    - sunrise : ì¼ì¶ ìê°
    - sunset : ì¼ëª° ìê° 
    - codesum : ë ì¨ ì½ë
        - +FC TORNADO/WATERSPOUT
        - FC FUNNEL CLOUD
        - TS THUNDERSTORM
        - GR HAIL
        - RA RAIN
        - DZ : DRIZZLE
        - SN : SNOW
        - SG : SNOW GRAINS
        - GS : SMALL HAIL &/OR SNOW PELLETS
        - PL : ICE PELLETS
        - IC : ICE CRYSTALS
        - FG+: HEAVY FOG (FG & LE.25 MILES VISIBILITY)
        - FG : FOG
        - BR : MIST
        - UP : UNKNOWN PRECIPITATION
        - HZ : HAZE
        - FU : SMOKE
        - VA : VOLCANIC ASH
        - DU : WIDESPREAD DUST
        - DS : DUSTSTORM
        - PO : SAND/DUST WHIRLS
        - SA : SAND
        - SS : SANDSTORM
        - PY : SPRAY
        - SQ : SQUALL
        - DR : LOW DRIFTING
        - SH : SHOWER
        - FZ : FREEZING
        - MI : SHALLOW
        - PR : PARTIAL
        - BC : PATCHES
        - BL : BLOWING
        - VC : VICINITY
        - (-) : LIGHT
        - (+) : HEAVY
        - "NO SIGN" : MODERATE
    - snowfall : ëì´ ìì¸ ì ë (inches)
    - precipitotal : 24ìê° ê¸°ì¤ ê°ìë (inches)
    - stnpressure : `average station pressure` íê·  ê´ì¸¡ì ê¸°ì
    - sealevel : `average sea level pressure` íê·  í´ë©´ ê¸°ì ????
    - resultspeed : í©ì± íì (mph)
    - resultdir : í©ì± íí¥ (10ëì©) 
    - avgspeed : íê·  íì (mph)
    - M : Missing Data
    - T : Trace Data

In [7]:
sales = pd.read_csv("train.csv")
print(sales.shape)
sales.tail()

(4617600, 4)

               date  store_nbr  item_nbr  units
4617595  2014-10-31         45       107      0
4617596  2014-10-31         45       108      0
4617597  2014-10-31         45       109      0
4617598  2014-10-31         45       110      0
4617599  2014-10-31         45       111      0

## Key.csv
ê° ë§¤ì¥(store_nbr)ì´ ìì¹í ì§ì­ì ë ì¨ë°ì´í°ë¥¼ ê¸°ë¡íë ê´ì¸¡ì(station_nbr) ë°ì´í°ë¡ ì´ë£¨ì´ì ¸ ìë¤.

In [30]:
keys = pd.read_csv("key.csv")
keys = pd.DataFrame(keys, columns=["station_nbr", "store_nbr"])
keys = keys.sort_values(by=["station_nbr"], ascending=True).reset_index(drop=True)
print(keys.shape)
keys

(45, 2)

    station_nbr  store_nbr
0             1          1
1             2         16
2             3         29
3             3         21
4             3         33
5             4          8
6             5         35
7             6         13
8             6          7
9             7          3
10            7         28
11            7         20
12            8         39
13            9         24
14            9          4
15           10         11
16           10         27
17           10         22
18           11         43
19           11         12
20           12         44
21           12         41
22           12          5
23           12         10
24           13         40
25           13         25
26           13         15
27           13         37
28           13         32
29           14         42
30           14          2
31           14         38
32           14          6
33           15         19
34           16         45
35           16         14
36           17         31
37           17         26
38           17         18
39           17          9
40           17         34
41           17         23
42           18         36
43           19         30
44           20         17